{% extends 'main.html' %}

{% block content %}
  <div class="wrapper">
    <div class="container">
      <header>
        <h1>Header</h1>
      </header>
      <nav>
      <ul>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </ul>
      </nav>
      <main>
        <article>
          <h2>Article Title</h2>
          <p>Article Content</p>
        </article>
      </main>
      <aside>
        <h2>Aside Title</h2>
        <p>Aside Content</p>
      </aside>
    </div>
  </div>
{% endblock %}